@model Contact

<div class="modal fade" tabindex="-1" id="addContact" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@((Model.ContactId == 0) ? "New Contact" : "Edit Contact")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" asp-action="@(Model.ContactId == 0 ? "Create" : "Edit")" asp-controller="Contact" method="post">
                    @if (Model.ContactId != 0)
                    {
                        <input type="hidden" asp-for="ContactId" />
                    }
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="FirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="LastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="Email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="UserName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="Phone" class="form-label">Phone</label>
                        <input type="number" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="Address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col text-end">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Discard</button>
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
